{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="content">
        <div class="page-name">Про ГАМБАМ</div>
        <div class="about-content">
            <div class="about-info">
                <h3>ГАМБАМ - это вселенского масштаба преступная организация? Или же ГАМБАМ - это момент времени с которого началось общение группы друзей? Никто не знает до наверняка, ведь для каждого ГАМБАМ - это что-то свое.</h3>
            </div>



            <div class="description" data-aos="fade-right">
                <div class="about-person-text">
                    <h4 class="about-person-name">xXop</h4>
                    <p class="descript">Ночью он xXop, днем же просто - Алексей Сбербанк. "Администратор ГАМБАМа" - ISTJ-T.<br>- "А вообще, всё зависит от того, что мы видим и чувствуем в данную секунду, значит все относительно даже для одного и того же человека?"<br>- "Footwork - замечательная и одна из лучших российских компаний."</p>
                    
                </div>
                <img id="about-person-img" src="{% static 'image/xxop3.jpg' %}" alt="">
                <img id="about-person-img" src="{% static 'image/xxop1.jpg' %}" alt="">
            </div>


            <div class="description" data-aos="fade-left">
                <img id="about-person-img" src="{% static 'image/bk1.jpg' %}" alt="">
                <img id="about-person-img" src="{% static 'image/bk2.jpg' %}" alt="">
                <div class="about-person-text">
                    
                    <h4 class="name">BK1LUV</h4>
                    <p class="descript">Я Бикей aka Устоял aka Борик. "Делец ГАМБАМ" - ESTP-A.</p>
                </div>    
            </div>


            <div class="description" data-aos="fade-right">
                <div class="about-person-text">
                    <h4 class="name">Severny</h4>
                    <p class="descript">О его способностях ходят слухи... Некоторые считают, что он может левитировать на скорости 20км/ч. Едиственная поправка, под ним должно быть 0.5 см самоката.</p>
                </div>
                <img id="about-person-img" src="{% static 'image/sev1.jpg' %}" alt="">
                <img id="about-person-img" src="{% static 'image/sev2.jpg' %}" alt="">
            </div>


            <div class="description" data-aos="fade-left">
                <img id="about-person-img" src="{% static 'image/gr1.jpg' %}" alt="">
                <img id="about-person-img" src="{% static 'image/gr2.jpg' %}" alt="">
                <div class="about-person-text">
                    <h4 class="name">Майор ГАМБАМ</h4>
                    <p class="descript"></p>
                </div>
                
            </div>


            <div class="description" data-aos="fade-right">
                <div class="about-person-text">
                    <h4 class="name">Макс Мелкин</h4>
                    <p class="descript">Очень, очень хороший мальчик.<br>Обладатель телефона в кармане. Вежлив, правдив, скромен, добр. Слушает маму, каждое утро делает зарядку. Характер очень мягкий.<br>Любимая певица Алла Пугачева.</p>
                </div>
                <img id="about-person-img" src="{% static 'image/mx1.jpg' %}" alt="">
                <img id="about-person-img" src="{% static 'image/mx2.jpg' %}" alt="">
            </div>

            <div class="description" data-aos="fade-left">
                <img id="about-person-img" src="{% static 'image/sasha2.jpg' %}" alt="">
                <img id="about-person-img" src="{% static 'image/sasha3.jpg' %}" alt="">
                <div class="about-person-text">
                    <h4 class="name">Саня(Саша)</h4>
                    <p class="descript">Он же "Чупик". Обладатель самоката. Много пьет (липтон) и никогда не простужен. Туп, жаден, прожорлив, ленив, труслив, надменен. Характер отсутствует. Бабушка присутствует.</p>
                </div>
                
            </div>

            <div class="mksmtsv">
                <h3>История о том, кого с нами уже нет</h3>
            </div>

            <div class="mksmtsv-card" data-aos="fade-right">
                
                <div class="about-person-text">
                    <h4 class="name">Макс Максаков</h4>
                    <p class="descript">Потерялся мальчик!!! Играл в волейбол, украли в Испанию, ни ответа, ни привета! Мы уже даже как зовут его забыли 😔</p>
                </div>
                <img id="about-person-img" src="{% static 'image/bumer2.jpg' %}" alt="">
                <img id="about-person-img" src="{% static 'image/bumer1.jpg' %}" alt="">
            </div>



        </div>
    </div>
    

{% endblock content %}



Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates quas similique fugit, optio deleniti quia voluptatem distinctio itaque incidunt labore laborum enim ea, iure expedita at. Ex culpa dicta fugiat?
Voluptatibus doloribus eius harum pariatur fuga sunt adipisci similique iure reprehenderit dolor praesentium, omnis dolorem hic porro corrupti obcaecati debitis officiis tenetur dolores maxime nam ex repellendus. Quas, ea autem?